html {
    max-width: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.body {

    font-family: 'Lato';
    font-size: normal;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
}

.wrapper {
    max-width: 1138px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    background: #222222;
    height: 75px;

}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
}

.menu-list {
    margin-right: 33px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__logo-link {

    margin-right: 41px;
    padding-top: 18px;
    padding-bottom: 19px;

}

.header__search {
    padding-top: 28px;

}

.header__menu {
    margin-right: 33px;
    padding-top: 30px;
}

/*menu begin*/

.menu a {
    text-decoration: none;
}

.menu li {
    list-style: none;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.categorie__item {
    position: absolute;
    left: 0;
}

/*menu end*/

.header__account {
    margin-right: 33px;
    padding-top: 26px;
}

.header__cart {
    margin-left: 33px;
    margin-right: 0;
    padding-top: 26px;
}

.header__item:hover,
.header__item:focus,
.header__item:active {
    opacity: .75;
}

/*Header styles end*/

/*Intro styles start*/

.intro {
    max-width: 100%;
    display: flex;
    height: 764px;
    padding: 0px, 0px;
    background: #F1E4E6;
    padding-top: 290px;
    overflow: hidden;
    margin-bottom: 65px;

}

/*.intro__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    margin: 0 auto;


}*/

.intro__picture {
    position: absolute;
    height: 764px;
    width: 800px;
    left: 0px;
    top: 75px;
    border-radius: 0px;
    object-fit: cover;
    background: transparent;
}

.title {
    border-left-width: 12px;
    border-left-style: solid;
    border-color: #F16D7F;
    padding-left: 16px;

    margin-left: 864px;
    padding-top: 290;

    height: 93px;
    width: 405px;
    left: 864px;
    top: 365px;
    border-radius: 0px;

    border-radius: nullpx;
}



.big {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    color: #222222;
}

.normal {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: #222222;

}

.pink {
    font-family: Lato;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: #F16D7F;
}

/*Intro styles end*/

/*Categories styles start*/

.categories {
    margin-bottom: 96px;
}

.categories__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}

.card {
    position: relative;
}

.card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.card__women {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 105px;
    left: 103px;
    z-index: 3;
}

.card__men {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 105px;
    left: 125px;
    z-index: 3;
}

.card__kidos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 105px;
    left: 123px;
    z-index: 3;
}

.nonecolortext {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.card__accessories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 65px;
    left: 491px;
    z-index: 3;
}

.colortext {
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #F16D7F;
}

.card_lg {
    grid-column: span 3;
}

.card-pic {
    height: 260px;
    object-fit: cover;

}

.card-pic-acc {
    height: 180px;
}


/*Categories styles end*/

/*Fetured items styles start*/

.fetured__items {
    background-color: #FFFFFF;
    margin-bottom: 95.5px;
}

.name__section {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

    color: #222222;

    margin-bottom: 6px;

    display: flex;
    justify-content: center;

}

.description__section {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    color: #9F9F9F;

    display: flex;
    justify-content: center;

    margin-bottom: 48px;
}

.items__cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    margin-bottom: 48.5px;

}

.card__cat {
    position: relative;
    height: 581px;
    width: 360px;
    background-color: #F8F8F8;
}

.card__item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16.5px;
    position: absolute;

}

.title_item_card {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 12.65px;
}


.descr_item_card {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.price_item_card {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;

}

.card_feture_pic {
    height: 420px;
    object-fit: cover;
    margin-bottom: 24.35px;
}

.brows_all_products {
    height: 47px;
    width: 211px;
    border-radius: 0px;
    border-color: #FF6A6A;
    background-color: white;
    margin: 0 auto;
    display: block;

}

.button_all-products_text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F26376;
    display: flex;
    justify-content: center;

}


/*Fetured items styles end*/

/*props styles start*/

.props_container {
    background-color: #222224;
    height: 341px;
}

.props__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.props {
    position: relative;
    height: 134px;
    width: 360px;

}

.card_prop_pic {
    height: 32px;
    width: 45px;
    margin: 0 auto;
    display: block;
    margin-top: 104px;
    margin-bottom: 28px;
}


.props_item {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}


.title_prop {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FBFBFB;

    margin: 0 auto;
    display: block;

    margin-bottom: 16px;



}

.descr_prop {
    height: 34px;
    width: 360px;
    border-radius: nullpx;

    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    color: #FBFBFB;

    text-align: center;
}

/*props styles end*/

/*contacts_headpage styles start*/

.contacts__headpage__container {
    height: 448px;
    background: url(./img/photosubscribe_background.jpg) no-repeat;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

.quote {
    display: flex;
    justify-content: flex-start;

}

.photo_woman_quote {
    position: absolute;
    border-radius: 0px;
    object-fit: cover;
    background: transparent;
    z-index: 3;
    margin-top: 86.5px;
}

.subscribe {
    position: relative;
    margin-top: 243px;
    height: 49px;

}

.form {
    position: relative;
    background-color: #E1E1E1;
    border: none;
    text-decoration: none;
    display: inline-block;

    width: 256px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    padding-left: 22px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 0;
}

.btn {
    position: relative;
    background-color: #F16D7F;
    border: none;
    text-decoration: none;
    display: inline-block;


    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

/*contacts_headpage styles end*/

.footer {
    background-color: #222224;
}